<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>
        PopPopCinema -
        {% block title_block %}
        {% endblock %}
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    <!-- JavaScript -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- JQuery -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/search.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'cinema:home' %}">PopPopCinema</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'cinema:home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cinema:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cinema:register' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cinema:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                Hello, {{ user.get_username }}! &nbsp
            {% endif %}

                <form id="search_bar" action="{% url 'cinema:search' %}" class="d-flex" role="search" method="get">
                    {% csrf_token %}
                    <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        {% block body_block %}
        {% endblock %}
    </div>

    <div class="row">
        <footer>
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Contact Us</h5>
                    <p class="card-text">Phone: 07777777777</p>
                    <p class="card-text">Email: contactpop@popcinema.com </p>
                </div>
                <div class="card-footer text-muted">
                    PopPopCinema
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>