<!DOCTYPE html>

<html>

    <head>
        <title>
            Pop pop cinema - 
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <body>
        <div id="header">
            <a href="{% url 'cinema:home' %}">Home</a>
            <a href="{% url 'cinema:screenings' %}">Screenings</a>
            <a href="{% url 'cinema:user' %}">My bookings</a>
            <a href="">Log out</a>
        </div>
        <hr>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr>

        <div id="footer">
            Contact us: <br>
            poppop@cinema.com <br>
            07777777777 <br>
        </div>
    </body>
</html>