<!DOCTYPE html>

{% extends 'cinema/base.html' %}

{% block title_block %}
Home
{% endblock %}
{% block body_block %}
<div>
    <h1>Welcome to PopPopCinema</h1>
</div>
<div>
    <a href="{% url 'cinema:user' %}">User</a><br />
    <a href="{% url 'cinema:manager' %}">Manager</a><br />
    <a href="{% url 'cinema:search' %}">Search</a><br />
<br><br>
</div>
<br />
<div>
    <h3> New Releases: </h3>
    {% if films %}
        <ul>
            {% for film in films %}
                <a href="/cinema/reviews/{{ film.slug }}/">{{ film.title }}</a> - {{ film.director }} - {{ film.release }}<br />
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no films present.</strong>
    {% endif %}
</div>
{% endblock %}