{% extends 'cinema/base.html' %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}

    Filters 
    <select name="filters" id="filters">
        <option value="none">None</option>
        <option value="recent">Recent</option>
        <option value="popular">Popular</option>
    </select>
    
    {% if films %}
        <ul id="films">
    <h2>Your search: "{{ search }}"</h2>

    {% if films %}
        <ul>

            {% for film in films %}
                <a href="/cinema/reviews/{{ film.slug }}/">{{ film.title }}</a> - {{ film.director }} - {{ film.release }}<br />
            {% endfor %}
        </ul>
    {% else %}
        <strong>Your search returned no results</strong>
    {% endif %}

{% endblock %}